<a href="https://colab.research.google.com/github/tikendraw/ML/blob/master/15_L1_and_L2_Regularization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# L1 and L2 regularization

L1 and L2 regularization are method used for correcting overfitted and underfitted data by adding a compensator mathematical expression to regularize. This expression is controlable according to the need and acts as a nob.

1.Loss function Equation(L)
2.Equation for L1 regularization(L1)
3.L2 regularization eQuation(L2)

In [ ]:
# from IPython.display import Image, display

# listOfImageNames = ['l.png',
#                     'l1.png','l2.png']

# for imageName in listOfImageNames:
#     display(Image(filename=imageName,height = 20,width= 200))

In [1]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
from sklearn.linear_model import LassoCV, Lasso, Ridge

In [4]:
data = pd.read_csv('/content/Housing.csv')
data.head()
# data.groupby('YearBuilt').describe()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
# dropping some columns which is irrelavent to the prediction
datanew = data.drop(['Address','Date','Postcode','Longtitude','Lattitude','YearBuilt'],axis = 1)
datanew.head()

In [ ]:
datanew.shape

In [ ]:
#check for null values
datanew.isna().sum()

In [ ]:
#filling the na values
import math
datanew['Bedroom2'] = datanew.Bedroom2.fillna(math.floor(datanew.Bedroom2.mean()))
datanew['Bathroom'] = datanew.Bathroom.fillna(math.floor(datanew.Bathroom.mean()))
datanew['Car'] = datanew.Car.fillna(math.floor(datanew.Car.mean()))
datanew['Landsize'] = datanew.Landsize.fillna(math.floor(datanew.Landsize.mean()))
datanew['BuildingArea'] = datanew.BuildingArea.fillna(math.floor(datanew.BuildingArea.mean()))
datanew['Price'] = datanew.Price.fillna(math.floor(datanew.Price.mean()))
datanew.dropna(inplace = True)
datanew.isna().sum()

In [ ]:
#dummy encoding the categorical values
datanew = pd.get_dummies(datanew,drop_first = True)
datanew

In [9]:
X = datanew.drop('Price',axis = 1)
y = datanew.Price

from sklearn.model_selection import train_test_split
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size = .2)

In [ ]:
#model building and fitting
# log = LogisticRegression(max_iter = 1000)
# log.fit(Xtrain,ytrain)

lasso = Lasso(max_iter = 1000)
lasso.fit(Xtrain,ytrain)

# ridge = Ridge(alpha = 50,tol = .1,max_iter = 1000)
# ridge.fit(Xtrain,ytrain)

In [ ]:
log.score(Xtest,ytest),lasso.score(Xtest,ytest),ridge.score(Xtest,ytest)

In [ ]:
lassocv = LassoCV(cv = 5,random_state = 3,tol = .1,max_iter = 1000)
lassocv.fit(X,y)

In [ ]:
lassocv.predict(Xtest)

In [ ]:
lassocv.score(Xtest,ytest)

In [15]:
from sklearn.model_selection import RandomizedSearchCV

random = RandomizedSearchCV(Lasso(max_iter = 1000,normalize = True),{
    'alpha':[i for i in range(100)],
    'tol':[i/100 for i in range(1,10)]}
                     ,n_iter = 5  )

In [16]:
random.fit(X,y)

RandomizedSearchCV(cv=None, error_score=nan,
                   estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                                   max_iter=1000, normalize=True,
                                   positive=False, precompute=False,
                                   random_state=None, selection='cyclic',
                                   tol=0.0001, warm_start=False),
                   iid='deprecated', n_iter=5, n_jobs=None,
                   param_distributions={'alpha': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
                                                  10, 11, 12, 13, 14, 15, 16,
                                                  17, 18, 19, 20, 21, 22, 23,
                                                  24, 25, 26, 27, 28, 29, ...],
                                        'tol': [0.01, 0.02, 0.03, 0.04, 0.05,
                                                0.06, 0.07, 0.08, 0.09]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [18]:
random.best_score_
random.best_params_

{'alpha': 19, 'tol': 0.02}

In [27]:
lasso = Lasso(alpha=500,normalize=False,max_iter=100000).fit(Xtrain,ytrain)

In [28]:
lasso.score(Xtest,ytest)

0.45576798759940684